<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>ShortUrl in Backbone</title>
  <link href="/Content/bootstrap.min.css" rel="stylesheet" />
  <script src="/Content/Scripts/jquery-1.7.2.min.js"></script>
  <script src="/Content/Scripts/underscore.min.js"></script>
  <script src="/Content/Scripts/backbone.min.js"></script>

  <script src="/Content/Scripts/ShortUrl/index.js"></script>
  <script src="/Content/Scripts/ShortUrl/mainForm.js"></script>
  <script src="/Content/Scripts/ShortUrl/urlList.js"></script>
  
  <script id="mainFormTemplate" type="text/underscore">
    <div class="input-append">
      <input type="text" value="Long URL" class="span4" />
      <button class="btn">Shorten!</button>
     </div>
  </script>

  <script id="urlListItemTemplate" type="text/underscore">
    <td><%=shortUrl%></td>
    <td><%=longUrl%></td>
    <td><button class="btn-info">Go there!</button></td>
  </script>

  <script>
    $(function () {
      ShortUrl.init();
    })
  </script>
</head>
  <body>
    <div class="container">
      <h1>URL shortener</h1>
      <div id="mainForm" class="span12"></div>

      <h2>All shortened URLs</h2>
      <div id="listOfShortenedUrls" class="span12"/>
    </div>
  </body>
</html>
